{
  "presets": [
    ["env", {"modules": false}],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-es2015-parameters",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "react-hot-loader/babel"
  ]
}